body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-accent {
  color: #2e2f42;
}
.contacts {
  color: #2e2f42;
}
.contacts:hover,
.contacts :focus {
  color: #404bbf;
}

.contacts-list {
}
.contacts-item {
}
.contacts-link {
}
